/*************************************************
            Basic CSS for Azimuth
************************************************/
header {

}

footer {
  border-top: 1px solid #666;
  margin-top: 30px;
  padding-top: 12px;
  font-size: 10px;
  color: #bbb;
}

.loginButtons {
  background: #111;
}

.menuHeader i {
  font-size: 1.3em;
}
#accountForm {

}
  #accountForm fieldset {
    border: none;
  }
  #accountForm .has-form {
    height: inherit;
    padding-bottom: 12px;
  }
  #accountForm a {
    background: #111;
  }
  #accountForm .row {
    margin-bottom: 7px;
  }

/*************************************************
              Foundation Overrides
************************************************/
.top-bar {
  margin-bottom: 0;
}

/*************************************************
          Meteor accounts-ui overrides
************************************************/
a.login-link-text {
  color: white;
  font-size: 0.8125em;
  font-weight: bold;
}

