/*************************************************
            Main CSS for Azimuth
************************************************/
header {

}

footer {
  border-top: 1px solid #666;
  margin-top: 30px;
  padding-top: 12px;
  font-size: 10px;
  color: #bbb;
}

.links a {
  font-size: 1.2em;
  margin-right: 15px;
}

.page-edit textarea {
  width: 550px;
}

.modal textarea {
  width: 275px;
}

.block-zone-container {
  padding: 0;
  width: 547px;

  .block-zone {
    list-style: none;
    margin-left: 33px;

    .no-blocks {
      margin-left: 20px;
      font-size: .7em;
    }
  }

  .edit-block {
    float: left;
    padding: 0;
    font-size: .9em;
    margin-right: 11px;
    width: 110px;

    a {
      color: #333;
    }

    p {
      font-size: .9em;
      margin-bottom: 0;
      text-align: left;
      padding: 5px;
      height: 75px;

      .dateTime {
        font-size: .8em;
      }
    }

    .ops {
      padding-top: 4px;
      height: 24px;
      text-align: center;
      background: #E7E7E7;
    }
  }
}

.roles {
  i {
    color: #ccc;
    margin-left: 10px;

    &:hover, &.enabled {
      color: #222;
    }
  }

}

/*************************************************
              Bootstrap Overrides
************************************************/
.dropdown-toggle i {
  font-size: 1.3em;
}

/*************************************************
              Other Overrides
************************************************/
.ui-pnotify-history-container {
  /* Hide the Pines Notify history menu */
  display: none;
}

