/*************************************************
            Basic CSS for Azimuth
************************************************/
header {

}

footer {
  border-top: 1px solid #666;
  margin-top: 30px;
  padding-top: 12px;
  font-size: 10px;
  color: #bbb;
}

.links a {
  font-size: 1.2em;
  margin-right: 15px;
}

.pageEdit textarea {
  width: 550px;
}

.editBlock {
  margin-right: 8px;
  height: 125px;
  width: 110px;
  border: 2px solid black;
}

/*************************************************
              Bootstrap Overrides
************************************************/
.dropdown-toggle i {
  font-size: 1.3em;
}

#login-form {
  padding: 8px 0 0 17px;
  margin-bottom: 0px;
}
#login-form input {
  margin-bottom: 7px;
}

#login-form button {
  margin-top: 0;
}

/*************************************************
              Other Overrides
************************************************/
.ui-pnotify-history-container {
  /* Hide the Pines Notify history menu */
  display: none;
}

