<template name="block_zone_editor">
  <div class="control-group">
    <label class="control-label" for="blockZoneOne">Body Blocks</label>
    <div class="controls">
      <div class="block-zone-container well">
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Block<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">New Block</a>
                    <ul class="dropdown-menu">
                      {{#each templates}}
                        <li><a class="new-block" href="#" data-name={{name}}>{{label}}&hellip;</a></li>
                      {{/each}}
                    </ul>
                  </li>
                  <li class="existing-block"><a href="#">Existing Block&hellip;</a></li>
                  <li class="block-by-tag"><a href="#">By Tag&hellip;</a></li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">By Type</a>
                    <ul class="dropdown-menu">
                      {{#each templates}}
                        <li><a class="block-by-type" href="#" data-name={{name}}>{{label}}&hellip;</a></li>
                      {{/each}}
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort Blocks<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="sort-title-up"><a href="#">By Title <i class="icon-angle-up"></i></a></li>
                  <li class="sort-title-down"><a href="#">By Title <i class="icon-angle-down"></i></a></li>
                  <li class="sort-date-up"><a href="#">By Date Created <i class="icon-angle-up"></i></a></li>
                  <li class="sort-date-down"><a href="#">By Date Created <i class="icon-angle-down"></i></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <ul class="block-zone clearfix">
          {{! iterate over page block elements; display different things depending on what type we have }}
          {{#each blocks}}
            {{! This logic should be better; Why are there no elseifs in handlebars?!\ }}
            {{#if id}}
              <li data-type="id" data-id="{{id}}" class="well edit-block idBlock">
                <p>
                  <span class="block-label">{{label}}</span>
                  <span class="date-time">{{added}}</span>
                </p>
                <div class="ops">
                  <a href="#" class="edit-block-button"><i class="icon-edit"></i></a>
                  <a href="#" class="delete-block-button"><i class="icon-trash"></i></a>
                </div>
              </li>
            {{/if}}
            {{#if type}}
              <li class="inline edit-block type-block">By Type</li>
            {{/if}}
            {{#if tag}}
              <li class="inline edit-block tag-block">By tag</li>
            {{/if}}
          {{else}}
            <p class="no-blocks">This block zone currently contains no blocks.  Add one from the menu above!</p>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="modal hide" id="deleteBlockModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Delete Block</h3>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this block?  This action cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn btn-danger delete-block-confirm">Confirm Delete</a>
    </div>
  </div>
  <div class="modal hide" id="editBlockModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Add Block</h3>
    </div>
    <div class="modal-body">
      <!-- Block edit form goes here -->
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn btn-danger edit-block-confirm">Save Block</a>
    </div>
  </div>
</template>
