<template name="block_zone_editor">
  <div class="control-group">
    <label class="control-label" for="blockZoneOne">{{label}}</label>
    <div class="controls">
      <div class="block-zone-container well" data-zone={{zone}}>
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Add Block&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a tabindex="-1">New Block</a>
                    <ul class="dropdown-menu">
                      {{#each templates}}
                        <li><a class="new-block" data-name={{name}}>{{label}}&hellip;</a></li>
                      {{/each}}
                    </ul>
                  </li>
                  <li class="existing-block"><a class="existing-block">Existing Block&hellip;</a></li>
                  <li class="block-by-tag"><a class="block-by-tag">By Tag&hellip;</a></li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1">By Type</a>
                    <ul class="dropdown-menu">
                      {{#each templates}}
                        <li><a class="block-by-type" data-name={{name}}>{{label}}&hellip;</a></li>
                      {{/each}}
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Limit: <span class="limit">{{#if limit}}{{limit}}{{else}}Off{{/if}}</span>&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu page-count-container">
                  <li class="page-count" data-page-count="0"><a>Off</a></li>
                  {{#each pageCount}}
                    <li class="page-count"><a>{{this}}</a></li>
                  {{/each}}
                </ul>
              </li>
              <!--<li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Sort Blocks<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="sort-title-up"><a>By Title <i class="icon-angle-up"></i></a></li>
                  <li class="sort-title-down"><a>By Title <i class="icon-angle-down"></i></a></li>
                  <li class="sort-date-up"><a>By Date Created <i class="icon-angle-up"></i></a></li>
                  <li class="sort-date-down"><a>By Date Created <i class="icon-angle-down"></i></a></li>
                </ul>
              </li>-->
            </ul>
          </div>
        </div>
        <div class="blocks-container">
          <ul class="block-zone clearfix">
            {{#each pageBlocks}}
              {{#if block_id}}
                <li data-block_id="{{block_id}}" data-added="{{timestamp}}" class="well edit-block id-block">
                  <p>
                    <span class="block-label">{{label}}</span>
                    <span class="date-time">{{added}}</span>
                  </p>
                  <div class="ops">
                    <a class="edit-block-button"><i class="icon-edit"></i></a>
                    <a class="delete-block-button"><i class="icon-trash"></i></a>
                  </div>
                </li>
              {{/if}}
              {{#if block_type}}
                <li data-block_type="{{block_type}}" data-added="{{timestamp}}" class="well edit-block type-block">
                  <p>
                    <span class="block-label">Type: {{label}}</span>
                    <span class="date-time">{{added}}</span>
                  </p>
                  <div class="ops">
                    <a class="delete-block-button"><i class="icon-trash"></i></a>
                  </div>
                </li>
              {{/if}}
              {{#if block_tag}}
                <li data-block_tag="{{block_tag}}" data-added="{{timestamp}}" class="well edit-block tag-block">
                  <p>
                    <span class="block-label">Tag: {{label}}</span>
                    <span class="date-time">{{added}}</span>
                  </p>
                  <div class="ops">
                    <a class="delete-block-button"><i class="icon-trash"></i></a>
                  </div>
                </li>
              {{/if}}
            {{else}}
              <p class="no-blocks">This block zone currently contains no blocks.  Add one from the menu above!</p>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{>delete_block}}
  {{>edit_block}}
  {{>existing_block}}
  {{>tag_block}}
</template>


