section {
  padding-top: 40px;
  margin-top: -40px;
}

ul {
  list-style-type: none;
  margin-left: 10px;
}

pre {
  font-size: .9em;
}

.screenshot-container {
  text-align: center;
}

.screenshot-container img {
  -webkit-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    2px 2px 7px rgba(50, 50, 50, 0.25);
  box-shadow:         2px 2px 7px rgba(50, 50, 50, 0.25);
  max-width: 80%;
  max-width: 80%;
}

@media (max-width: 992px) {
  #toc.affix {
    position: static;
    width: auto;
    top: 0;
  }
}
