<template name="admin_users">
  <div class="container user-list">
    <div class="row">
      <!--<div class="btn-toolbar">
        <button class="btn btn-primary">New User</button>
      </div>-->
      <h2>Users</h2>
      <div class="span8 user-container">
        <div class="well">
          <table class="table">
            <thead>
              <tr>
                <th>Roles</th>
                <th>Email</th>
                <th>Joined</th>
                {{#if isInRole 'admin'}}<th>Remove</th>{{/if}}
                <th style="width: 36px;"></th>
              </tr>
            </thead>
            <tbody>
              {{#each users}}
                <tr>
                  <td class="roles">
                    <a class="admin" title="Admin"><i class="icon-key{{#ifAdmin this._id}} enabled{{/ifAdmin}}"></i></a>
                    <a class="author" title="Author"><i class="icon-book{{#ifAuthor this._id}} enabled{{/ifAuthor}}"></i></a>
                  </td>
                  <!--<td>{{profile.name}}</td>-->
                  <td>{{emails.0.address}}</td>
                  <td>{{humanReadableTime createdAt}}</td>
                  {{#if isInRole 'admin'}}<td>
                      <!--<a href="#"><i class="icon-pencil"></i></a>-->
                      <a class="delete-user remove" href="#"><i class="icon-remove"></i></a>
                  </td>{{/if}}
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal hide" id="deleteUserModal">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Delete Confirmation</h3>
      </div>
      <div class="modal-body">
          <p class="error-text">Are you sure you want to delete this user?</p>
      </div>
      <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button class="delete-user-confirm btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
  </div>
</template>
