<template name="footer">
  <footer id="copyright">
    <div class="row full-width">
      <div class="large-4 columns">
        <p>Site content © Matthew Crider.</p>
      </div>
      <div class="large-8 columns">
        <ul class="inline-list right">
          <li><a href="http://foundation.zurb.com">Home</a></li>
          <li><a href="http://foundation.zurb.com/download.php">Download</a></li>
          <li><a href="http://foundation.zurb.com/docs">Docs</a></li>
          <li><a href="http://foundation.zurb.com/docs/changelog.html">Changelog</a></li>
          <li><a href="http://foundation.zurb.com/about.php">About</a></li>
          <li><a href="http://feeds.feedburner.com/zurb/blog">Subscribe to the ZURBlog</a></li>
        </ul>
      </div>
    </div>
  </footer>
</template>
