<template name="header">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">

        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="brand" href="/">{{#ifSetting "logoUrl"}}<img class="logo" src="{{getSetting 'logoUrl'}}">{{/ifSetting}}{{getSetting 'siteName'}}</a>

        <div class="page-menu nav-collapse collapse">
          {{#with headerNav}}
            {{>header_nav_root}}
          {{/with}}
        </div>

        {{#if isInRole 'admin'}}
          <ul class="nav pull-right hidden-phone">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i> <b class="caret"></b></a>
              <ul id="adminMenu" class="dropdown-menu">
                <li class="nav-header">Admin</li>
                <li><a href="/settings">Site Settings</a></li>
                <li><a href="/navigation">Site Navigation</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/new_page">New Page</a></li>
                <li class="dropdown-submenu">
                  <a tabindex="-1">Edit Page</a>
                  <ul class="dropdown-menu">
                    {{#each pages}}
                      <li><a href="/{{slug}}/edit">{{title}}</a></li>
                    {{/each}}
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        {{/if}}
        {{#ifSetting 'showLoginInHeader'}}<div class="desktop-login hidden-phone">{{ loginButtons }}</div>{{/ifSetting}}
      </div>
    </div>
  </div>
</template>

<template name="header_nav_root">
  <ul class="nav">
    {{#each this}}
      {{#if children}}
        <li class="dropdown">
          <a class="dropdown-toggle disabled" href="{{slug}}" data-toggle="dropdown">{{title}}<b class="caret"></b></a>
          {{>header_nav_child}}
        </li>
      {{else}}
        <li>
          <a href="/{{slug}}">{{title}}</a>
        </li>
      {{/if}}
    {{/each}}
    <li class="visible-phone">
      {{#if isInRole 'admin'}}
        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="nav-header">Admin</li>
              <li><a href="/settings">Site Settings</a></li>
              <li><a href="/navigation">Site Navigation</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/new_page">New Page</a></li>
              <li class="dropdown-submenu">
                <a tabindex="-1">Edit Page</a>
                <ul class="dropdown-menu">
                  {{#each pages}}
                    <li><a href="/{{slug}}/edit">{{title}}</a></li>
                  {{/each}}
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      {{/if}}
      {{#ifSetting 'showLoginInHeader'}}<div class="mobile-login">{{ loginButtons }}</div>{{/ifSetting}}
    </li>
  </ul>
</template>

<template name="header_nav_child">
  <ul class="dropdown-menu">
    {{#each children}}
      {{#if children}}
        <li class="dropdown">
          <a class="dropdown-toggle disabled" href="{{slug}}">{{title}}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{>header_nav_child}}
          </ul>
        </li>
      {{else}}
        <li>
          <a href="/{{slug}}">{{title}}</a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</template>