<template name="header">
  <header class="row">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="#">Logo</a><h1></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li class="divider"></li>
          {{#each pages}}
            <li>{{> nav_item}}</li>
            <li class="divider"></li>
          {{/each}}
        </ul>


        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Admin</a>
            <ul class="dropdown">
              <li><label>Admin</label></li>
              <li><a href="#">Site Settings</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="loginButtons">{{loginButtons align="right"}}</li>
        </ul>
      </section>
    </nav>
  </header>
</template>

<template name="nav_item">
  <a href="/{{slug}}">{{title}}</a>
</template>