<template name="header">
  <header class="row">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="#">Logo</a><h1></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li class="divider"></li>
          {{#each pages}}
            <li>{{> nav_item}}</li>
            <li class="divider"></li>
          {{/each}}
        </ul>


        <ul class="right">
          <li class="has-dropdown">
            <a class="menuHeader" href="#"><i class="icon-cogs"></i></a>
            <ul class="dropdown">
              <li><label>Admin</label></li>
              <li><a href="#">Site Settings</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li id="accountForm" class="has-dropdown">
            <a class="menuHeader" href="#"><i class="icon-user"></i></a>
            {{#if currentUser}}
              {{#unless loggingIn}}
                <ul class='dropdown'>
                  <li><label>{{displayName}}</label></li>
                  <li><a class='profile' href='#'>Profile</a></li>
                  <li><a class='logout' href='#'>Logout...</a></li>
                </ul>
              {{/unless}}
            {{else}}
            {{#unless loggingIn}}
              <ul class="dropdown">
                <li class="has-form">
                  {{> loginForm}}
                </li>
              </ul>
            {{/unless}}
          {{/if}}






          </li>
        </ul>
      </section>
    </nav>
  </header>
</template>

<template name="nav_item">
  <a href="/{{slug}}">{{title}}</a>
</template>