<template name='createAccountForm'>
  <header>
    <h5>Create Account</h5>
    <button class='close'>×</button>
  </header>
  <div class='panel-body'>
    <div class='form-wrapper'>
      <div class='intro-form-wrapper'>
        <form id='register-form' class='intro-form'>
          <input type='email' id='account-email' class='large wide' placeholder='Email'/>
          <input type='password' id='account-password' class='large wide' placeholder='Password' />
          <input type='submit' id='create-account' class='btn btn-pink large wide' value='Create an Account' />
        </form>
      </div>
    </div>
  </div>
</template>

<template name='passwordRecoveryForm'>
  <header>

    {{#if resetToken}}
    <h5>Enter New Password</h5>
    {{else}}
    <h5>Reset Password</h5>
    {{/if}}

    <button class='close'>×</button>
  </header>
  <div class='panel-body'>
    <div class='form-wrapper'>
      <div class='intro-form-wrapper'>
        <div class='intro-form'>

          {{#if resetToken}}
            <form id='new-password'>
              <input type='text' id='new-password-password' class='large wide' placeholder='New Password' />
              <input type='submit' class='btn btn-pink large wide' value='Change Password'/>
            </form>
          {{else}}
            <form id='recovery-form'>
              <input type='text' id='recovery-email' class='large wide' placeholder='Your Email Address'/>
              <input type='submit' class='btn btn-pink large wide' value='Send Reset Instructions' />
            </form>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</template>

<template name='loginForm'>
  {{#if loginForm}}
    <li>
      <form id='login-form'>
        <fieldset>
          <input type='email' class="input-small" id='login-email' style='margin-top: 0;' placeholder='Email'/>
          <input type='password' class="input-small" id='login-password' placeholder='Password'/>
          <button type='submit' class='btn' id='login-button'>Sign in</button>
        </fieldset>
      </form>
    </li>
    <li class="divider"></li>
    <li><a href='#forgotPassword' data-toggle='modal' id='forgot-password'>Forgot password?</a></li>
    <li><a href='#' id='create-account'>Create account</a></li>
  {{/if}}

  {{#if passwordRecovery}}
    {{> passwordRecoveryForm}}
  {{/if}}

  {{#if createAccount}}
    {{> createAccountForm}}
  {{/if}}

</template>