<template name="page_default_edit">
  <div class="container">
    <div class="row">
      <div class="span10">
        {{#with page}}
            <h2>Editing "{{title}}"</h2>
            <form class="form-horizontal" id="pageEditForm">

              <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                  <input type="text" id="title"  value="{{title}}" placeholder="Title">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="contents">Contents</label>
                <div class="controls">
                  <textarea id="contents" rows="5" placeholder="Contents">{{{contents}}}</textarea>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="parent">Parent</label>
                <div class="controls">
                  <select id="parent">
                    <option val="0">None</option>
                  </select>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input id="showInHeader" type="checkbox"> Show In Header
                  </label>
                  <label class="checkbox">
                    <input id="showInFooter" type="checkbox"> Show In Footer
                  </label>
                  <input type="submit" value="Save">
                </div>
              </div>
            </form>
        {{/with}}
        &nbsp;
      </div>
    </div>
  </div>
</template>
